@page
@model WebUI.Pages.admin.authentication.LogoutModel
@{
    Layout = "";
}

@{
    ViewData["Title"] = "Logout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Logging out...</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>You have been logged out.</h1>
        </div>
    </div>
</div>