<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Name"] - WebUI</title>

</head>
<body>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebUI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>