<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Name"] - WebUI</title>

</head>
<body>



    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NewsApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)

    <script>

        function changeLanguage() {
            var selectedLanguageCode = document.getElementById("language-select").value;
            var currentPath = window.location.pathname; // Get the current path
            var newPath = currentPath.replace(/^\/\w+/, "/" + selectedLanguageCode); // Replace the existing language code in the path

            window.location.href = newPath; // Redirect to the new URL

            var selectedLanguageCode = document.getElementById("language-select").value;
            var data = { languageCode: selectedLanguageCode };

            // Send selected language to the server using AJAX
            fetch('/SetLanguage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
        }
    </script>
</body>
</html>