@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-2 text-end">
    <form method="post">
        <!-- Language Dropdown -->
        <div class="language-dropdown">
            <label for="language-select">Select Language:</label>
            <select  id="language-select" asp-page-handler="OnPost" onchange="this.form.submit()">
                @foreach (var language in ViewBag.Languages)
                {
                    <option value="@language.LanguageCode">@language.Title</option>
                }
            </select>
        </div>
    </form>
</div>